<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2312323124123-usdsdfssdsdasdasddhsdasdklds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2312323124123-usdsdfssdsdasdasddhsdasdklds</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>2312323124123-7213213213213213gn1rqic0si4jks.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>A123213-fSa123213_aZqUl213213213123213</string>
	<key>GCM_SENDER_ID</key>
	<string>2312323124123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nopalsoft.flavors.dev</string>
	<key>PROJECT_ID</key>
	<string>flavors-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>flavors-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32131232132131:ios:123123123123123122</string>
</dict>
</plist>