<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nopalsoft.simplerest.getx.flutter_simple_rest_api_getx">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
